.App {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: orange;
}
.img-sec {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #dddddd;
}
.img-sec .img-figure{
  width:320px;
  height:360px;
  position: absolute;
  margin:0;
  padding:40px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.img-sec figcaption{
  text-align: center;
}
.img-sec .img-title{
  margin:20px 0 0 0;
  color:#a7a0a2;
  font-size:16px;
}
.controller-nav {
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 99;
  width: 100%;
  text-align: center;
}
